*{
    margin:auto;
}

.textLogin{
    margin-top: 80px;
    margin-left: 100px;
}

.loginPage{
    width:1800px;
    height:950px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.loginBox{
    width:640px;
    height:480px;
    border-radius: 15px;
    background-color: white;
}

.inputBox{
    width:510px;
    height:300px;
    display: flex;
    flex-direction: column;
    background-color: none;
}

.idInput{
    width:430px;
    height:40px;
}

.passwordInput{
    width:430px;
    height:40px;
    margin-bottom: 80px;
}

.submit{
    width:430px;
    height:40px;
    margin-bottom: 30px;
}

